
.styled-table {
    border-collapse:separate;
    margin-left: 25px ;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(228, 228, 228);
}
.styled-table thead tr {
    background-color: #0071c2;
    color: white;
    text-align: left;
    
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#bck{
    margin-left: 75%;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.actions_btn  {
    border: none;
    padding: 10px 20px ;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;

  }