.login .backImg{
    width: 100%;
    height: 50vh;
    position: relative;
}

.backImg img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.text{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    text-align: center;
    color: white;
    
}



.text h1{
    font-size: 40px;
}

h1{
    font-weight: 600;
  }